*{
	box-sizing: border-box;
}
body{
	background:#227cab;
	height:100vh;
	color:white;
	font-family: "Lucida Sans Unicode", sans-serif;
}
.container{
	background:#2793cb;
	margin: 20px auto;
	height:98vh;
	width:98%;
}
.article{
	width:60%;
	margin: auto;
	padding-top:10px;
}
.h1{

}

ul{
	font-size: 0;
	border:2px solid white;
	padding:0px;
	background:#fff;
}
p{
	line-height:1.0;
	font-size: 20px;
}
.transparent{
	color:rgba(255,255,255, 0.5);
}

li {
	display: inline-block;
	height: 100%;
    vertical-align: middle;
	border: 2px solid white;
	font-size: 16px;
	height:120px;
	text-align: center;
	margin-left:0px;
}
.blue{background:#2793cb;}
.sea{background:#24bdcb;}
.rose{background:#986f95;}
.red{background: #c75442;}
.orange{background: #e77145}
.yellow{background:#ffcb5d;}
.herb{background:#93c396;}
.bottle{background:#5e9494;}
.pink{background:#cf7294;}
.green{background:#288d62;}
.violet{background:#636996;}
.lucida{font-family: “Lucida Grande”, sans-serif;}


li i{
	
	font-size: 23px;
}
.half{
	width:50%;
}
.quart{
	width:25%;
}
.all{
	width:100%;
}
ul:hover > li{
	opacity:0.5;
}
ul:hover > li:hover{
	opacity:1.0;
}