body{
   color:#fff;
}
@font-face {
font-family: 'Museo Sans 100 Thin';
src: url('MuseoSansCyrl-100.eot');
src: url('MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
url(../fonts/'MuseoSansCyrl-100.woff') format('woff'),
url('MuseoSansCyrl-100.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.container{
	background:url(../images/bg.png) no-repeat;
	width: 800px;
	height: 600px;
	background-position:center;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
h2{
	margin: 0;	
}
.box{
    width: 86.25%;
    height: 390px;
    background:#111a28;
}
.box__logo{
   width: 80px;
   height: 40px;
   background: url(../images/logo.png);
   background-position: center;
   background-size: cover;
   margin-left: 25px;
   margin-top: 30px;
}
.shoe{
    
	display: flex;
	justify-content:space-around;
}
.shoe__photo{
    margin-top: 60px;	
}

.shoe__info{
  	
}
.shoe__circles{
   display: flex;
   justify-content: center;
   padding-top: 50px;	
}
.circle{
	height: 10px;	
	width: 10px;
	border:1px solid #fff;	
	border-radius:50%;
	margin-left: 5px;	
	margin-right: 5px;	
	background:#fff;
	display: inline-block;
}
.circle:hover{
	opacity: 0.6;	
}
.first{
	background:#111a28;
}
.second{
	background:#fff;
}
.third{
	background:#ed3333;
}
.fourth{
	background:#29e3ea;
}

.text{
	font-family: 'Museo Sans 100 Thin';
	
}
.text__big{
	
   opacity:0.7;
}
.text__small p{
	font-size: 14px;
	opacity:0.6;
}
.text__stars:hover{
   cursor: pointer;
}
.star{
	display: inline-block;
	font-size: 30px;
	margin-bottom: 35px;	
	height: 15px;
	width: 15px;
}
.star:hover{
	opacity: 0.6;	

}
.yellow{
	color:#f7bf16;	s
}
.text__buttons{

}
button{
	width: 70px;
	height: 30px;
	background: transparent;
	border:1px solid #4f5560;
	display: inline-block;
}
a{
	text-decoration: none;
	color:#4f5560;
}
.add{
	margin-top: 30px;
	display: block;
	width: 185px;
	height: 40px;
}
button:hover{
	background:#202835;
}

