
@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700');

*{
	box-sizing: border-box;
	color: #262626;
	font-family: 'Raleway', sans-serif;
}
.container{
	width: 80%;
	margin: auto;
}
.strawberry{
	background: #f9f8fb;
	background: url(../images/clubnika.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}
.first-line{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}
.first-line__nav{
	display: flex;
	justify-content: space-around;
	font-family: 'Pacifico', cursive;

}
.first-line__logo{
	font-family: 'Pacifico', cursive;
	font-size: 3.125em;	
}
.first-line__logo:hover{
	cursor: pointer;
	color: #ff6033;
	transition: 0.6s;
	transform: scale(1.1, 1.1);
}
.first-line__li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	margin-left: 40px;
}
.first-line__li:hover{
	cursor: pointer;
	color: #ff6033;
	border-top: 2px solid  #ff6033;
	transition: 0.6s;
	transform: scale(1.1, 1.1);
}
.strawberry-text{
	width: 31%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 200px;
}
.strawberry-text__title{
	font-size: 3.75em;
	font-weight: 700;
	text-align: left;
}
.strawberry-text__desc{
	font-size: 1.06em;
	line-height: 1.58;
	margin-top: 30px;
	font-weight: 300;
	text-align: left;
}
.strawberry-text__btn{
	margin-top: 30px;
	width: 200px;
	height: 56px;
	border: none;
	color: #fff;
	background: #ff6033;
	font-weight: 300;
	font-size: 1.25em;
	text-transform: uppercase;
}
.strawberry__scroll{
	margin: auto;
	margin-top: 85px;

}
.strawberry-text__btn:hover,
 .strawberry__scroll:hover,
.btns__btn:hover,
.text-about__title:hover,
.tomato__services:hover,
.yellow-box__btn:hover,
.white-small__btn:hover,
.yellow-grid__item:hover,
.violet-grid__item:hover
 {
	cursor: pointer;
	transition: 0.6s;
	transform: scale(1.1, 1.1);

}


.green{
	background: #00bebe;
	color: #fff;	
}
.green-box{
	display: flex;
	justify-content: space-between;
}
.green-box__img{
	width: 50%;
	height: 700px;
	background: url(../images/cup.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: 90%;
}
.text-about{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

}
.text-about__title{
	font-size: 5.625em;
	font-weight: 700;
	color: #fff;	
	margin: 0;
}
.text-about__desc{
	color: #fff;
	font-weight: 300;
	font-size: 1.06em;
	line-height: 1.58;
}
.blue{
	background: #70bfff;
}
.btns-and-tomato{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 790px;
}
.btns{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.btns__btn{
	width: 400px;
	height: 100px;
	background: #fff;
	border: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 1.25em;
	font-weight: 700;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btns__btn--text{
	width: 300px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.btns__btn--icon1{
	background: url(../images/icon1.svg);
}
.btns__btn--icon2{
	background: url(../images/icon2.svg);
}
.btns__btn--icon3{
	background: url(../images/icon3.svg.svg);
}
.btns__btn--icon4{
	background: url(../images/icon4.svg);
}
.btns__btn--icon{
	width: 25%;
	height: 100px;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}
.tomato{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../images/tomato.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	width: 550px;
	height: 560px;
	
}
.tomato__services{
	color: #fff;
	font-size: 3.75em;
	font-weight: 700;
}
.yellow{
	background: #ffe92f;

}
.yellow-box{
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.yellow-box__title{
	color: #262626;
	font-size: 3.75em;
	font-weight: 700;
	margin-bottom: 25px;
	margin-top: 90px;	
}
.yellow-box__desc{
	color: #262626;
	font-weight: 300;
	font-size: 1.06em;
	line-height: 1.58;
	width: 600px;
	text-align: center;
	margin-bottom: 50px;	
}
.yellow-grid{
	width: 100%;
	display: grid;
	grid-gap: 28px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-areas: "a a a a a a b b"
						"a a a a a a c c"
						"d d d d e e e e";
}

.yellow-grid__item1{
	background: url(../images/item1.png);
	background-size: cover;
	height: 550px;
	grid-area: a;
}
.yellow-grid__item2{
	background: url(../images/item2.png);
	grid-area: b;
}
.yellow-grid__item3{
	background: url(../images/item3.png);
	grid-area: c;
}
.yellow-grid__item4{
	background: url(../images/item4.png);
	height: 400px;	
	grid-area: d;
}
.yellow-grid__item5{
	background: url(../images/item5.png);
	grid-area: e;
}
.yellow-grid__item6{
	background: url(../images/item6.png);
	grid-area: a;
}
.yellow-grid__item{
	background-size: cover;
	background-position: center;
}
.yellow-box__btn{
	width: 200px;	
	height: 57px;
	background:#5585a2;
	box-shadow: 0 6px 12px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.22);
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;	
	font-size: 1.125em;	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 48px;	
	margin-bottom: 80px;
}
.white-small{
	background: #fff;
	background: url(../images/blueberry.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.white-small__title{
	font-size: 2.5em;
	font-weight: 700;
	padding-top: 140px;
}
.white-small__desc{
	font-weight: 300;
	font-size: 1.06em;
	line-height: 1.58;
	width: 570px;
}
.white-small__input{
	width: 47.5%;
	height: 55px;
	margin-top: 20px;
	background: transparent;
	border: 1px solid #262626;
	padding-left: 15px;
	margin-bottom: 80px;
}
.white-small__btn{
	width: 170px;
	height: 55px;
	color: #fff;
	background: #96b92c;
	margin-left: 30px;
	border: none;
	box-shadow: 0 6px 12px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.22);
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.06em;
	line-height: 1.58;
	margin-bottom: 80px;
}
.violet{
	
	background: #b07cf7;
}
.yellow-box__title--white{
	color:#fff;
}
.yellow-box__desc--white{
	color:#fff;
}
.yellow-box__btn--red{
	background: #f72b3b;
}
.violet-grid{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	width: 100%;
}
.violet-grid__item1{
	background: url(../images/box11.jpg);

}
.violet-grid__item2{
	background: url(../images/box12.jpg);
}
.violet-grid__item3{
	background: url(../images/box13.jpg);
}
.violet-grid__item{
	width: 31%;
	background-position: center;
	background-size: 104%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}


.violet-grid__item:hover > .violet-grid__food{
	background-image: url(../images/gr.png.png);
	background-repeat: repeat-x;
}

.violet-grid__date{
	width: 16%;
	height: 60px;
	border-radius: 10px;
	margin-left: 30px;
	margin-top: 20px;
	background: rgba(86, 92, 100, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.violet-grid__date--p{
	font-weight: 700;
	font-size: 1.2em;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}
.violet-grid__food{
	width:100%;
	padding-left: 20px;
	margin-top: 70px;
}
.violet-grid__name{
	font-weight: 700;
	font-size: 1.2em;
    color: #fff;
    margin: 0;
    width: 87%;
}
.violet-grid__author{
	font-weight: 300;
	font-size: 1em;
	color: #fff;
	
	
}
.contact{
	background: url(../images/img.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.yellow-box__desc--contact{
	width: 370px;
}
.input-and-address{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.input-box{
	display: flex;
	flex-direction: column;
	width: 41.65%;	

}
.input-box__input{
	width: 100%;
	height: 50px;
	border: none;
	margin-top: 15px;
	background: #56cad1;
	opacity: 0.7;
	font-weight: 300;
	padding-left: 20px;
}
.input-box__input--name{
	opacity: 1;
	border-left: 5px solid #355b82;
}
.input-box__input--textarea{
	height: 250px;
	padding-top: 20px;
}
.input-box__input::placeholder{
	color:#fff;
}
.address-box{
	width: 41.65%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.address-box__title{
	font-weight: bold;
	font-size: 1.6em;
	margin: 0;
	margin-top: 17px;
}
.address-box__desc{
	font-weight: 300;
	font-size: 1.4em;
	margin: 0;
}
.black-footer{
	background: #262626;
}
.black-footer-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.black-footer-box__rights{
	font-size: 1em;
	font-weight: 300;
	color: #b9b9b9;
}
.black-footer-box__logo{
	font-size: 1.56em;
	font-family: 'Pacifico', cursive;
	color: #b9b9b9;

}
.black-footer-box__made-with{
	font-weight: 300;
	font-size: 0.93em;
	color: #b9b9b9;
}
.black-footer-box__made-with--red{
	color: #d42a4e;
	font-weight: 700;
}