@media screen and (max-width: 400px) {
  .first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px; }
  .first-line__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    padding-left: 0;
    margin-top: 25px; }
  .first-line__li {
    display: block;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 700;
    margin-left: 0;
    line-height: 1.4em; }
  .first-line__logo {
    font-family: 'Pacifico', cursive;
    font-size: 3.125em;
    color: #ff6033; }
  .strawberry-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0; }
  .strawberry-text__title {
    font-size: 3.0em;
    font-weight: 700;
    text-align: left;
    color: #ff6033; }
  .strawberry-text__desc {
    font-size: 1.06em;
    line-height: 1.58;
    margin-top: 30px;
    font-weight: 300;
    text-align: center; }
  .strawberry-text__btn {
    margin-top: 30px;
    max-width: 150px;
    height: 50px;
    border: none;
    color: #fff;
    background: #ff6033;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase; }
  .green {
    background: #00bebe;
    color: #fff; }
  .green-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .green-box__img {
    width: 50%;
    max-height: 150px;
    background: url(../images/cup.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin: 0 auto; }
  .text-about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .text-about__title {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    margin: 0; }
  .text-about__desc {
    color: #fff;
    font-weight: 300;
    font-size: 0.875em;
    line-height: 1.58;
    margin-bottom: 50px;
    text-align: center; }
  .blue {
    background: #70bfff; }
  .btns-and-tomato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 600px; }
  .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px; }
  .btns__btn {
    max-width: 200px;
    height: 80px;
    background: #fff;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 1em;
    font-weight: 700;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .btns__btn--text {
    max-width: 150px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .btns__btn--icon {
    width: 15%;
    height: 80px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; }
  .tomato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../images/tomato.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    max-width: 200px;
    max-height: 200px; }
  .tomato__services {
    color: #fff;
    font-size: 2em;
    font-weight: 700; }
  .yellow {
    height: 1536px;
    background: #ffe92f; } }
