@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
}

.header{
    background-image: url(../images/bg-1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container {
    width: 60%;
    margin: auto;
}
.first-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.first-line__nav{
    display: flex;
    justify-content: space-between;
}
.nav__li{
    display: block;
    margin-left: 50px;
}
.nav__li--white:hover{
    color: #48bf72;
    cursor: pointer;
    transition: 0.7s;
    transform: scale(1.1, 1.1);
}
.nav__li--grey{
    color: #434d57;
}
.header-titles{
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}
.header-titles__big-title{
    font-size: 46px;
    text-transform: uppercase;
}
.header-titles__title{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
}
.header-titles__btn{
    margin-top: 40px;
    width: 135px;
    height: 40px;
    border: 2px solid #48bf72;
    border-radius: 3px;
    background: transparent;
    margin-bottom: 180px;
    color: #48bf72;
}
.header-titles__btn:hover{
    cursor: pointer;
    background-color: #48bf72;
    color: #fff;
}
.portfolio-container{
    width: 60%;
    margin: auto;
    text-align: center;
}
.portfolio-buttons{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
}
.portfolio-buttons__btn{
    height: 32px;
    background: #eaeaea;
    border: 2px solid #eaeaea;
    border-radius: 3px;
    color:#3c4955;
    font-size: 16px;
}
.portfolio-buttons__btn:hover{
    color: #fff;
    background-color: #48bf72;
    border: 2px solid #48bf72;
    cursor: pointer;
}
  .active {
    color: #fff;
    background-color: #48bf72;
    cursor: pointer;
  }
  
  .portfolio-item {
    position: relative;
    width: 850px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 90px;
   
  }
  
  .item {
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: 300px;
    cursor: pointer;
    margin: 10px;
  }
  
  .item_hover {
    background-color: rgba(72, 191, 114, 0.7);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 350ms;
  }
  
  .portfolio-item .item:hover > .item_hover {
    opacity: 1;
  }
  
.portfolio-item .web {
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .portfolio-item .illus {
    background-image: url(../images/img2.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .portfolio-item .ui {
    background-image: url(../images/img3.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .portfolio-item .motion {
    background-image: url(../images/img4.png);
    background-repeat: no-repeat;
    background-position: center;
  }
.man{
    background-image: url(../images/man.png);
    background-position: 45% 0;
    background-repeat: no-repeat;
}
.man-container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.man-container__block{
    width: 50%;
    padding-bottom: 80px;
}
.block-name{
    margin-top: 90px;
    font-size: 32px;
}
.block-position{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.block-text{
    margin-top: 30px;
    font-weight: 400;
    line-height: 1.5em;
}
.block-btn{
    height: 39px;
    width: 152px;
    background: transparent;
    border: 2px solid #3c4955;
    border-radius: 3px;
    color: #3c4955;
    text-transform: uppercase;
    margin-top: 45px;
}
.block-btn:hover{
    background-color: #3c4955;
    color: #fff;
    cursor: pointer;
}
.contact-container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-container__title{
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #48bf72;
    margin-top: 43px;
}
.inputs-block{
    width: 61.4%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.inputs-block__small-input{
    line-height: 2.5em;
    font-size: 16px;
    color: #abaaaa;
    outline: none;
    border: 2px solid #3c4955;
    width: 47%;
    border-radius: 2px;
    background-position: left 70%;
    background-repeat: no-repeat;
    padding-left: 70px;
}


.inputs-block__small-input--user{
    background-image: url(../images/user.svg);
}
.inputs-block__small-input--email{
    background-image: url(../images/mail.svg);
}
.message-block{
    width: 61.4%;
    margin: 0 auto;
    margin-top: 30px;
}
.message-block__textarea{
    height: 223px;
    width: 100%;
    font-size: 16px;
    color: #abaaaa;
    outline: none;
    line-height: 2.5em;
    border: 2px solid #3c4955;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-image: url(../images/message.svg);
    background-position: left 70% ;
    padding-left: 68px;
}

.envoyer-btn{
    width: 61.4%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    letter-spacing: 0.2em;
    height: 46px;
    background-color: #48bf72;
    border: 2px solid #48bf72;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 54px;

}
.envoyer-btn:hover{
    cursor: pointer;
    background-color: #59db86;
    border: 2px solid #59db86;
}
.footer{
    background-color: #3c4955;
}
.footer-container{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 200px;
    
}
.links{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.links__link{
    margin-left: 40px;
}
.links__link:hover{
    cursor: pointer;
    transition: 0.7s;
    transform: scale(1.1, 1.1);
}

