@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header{
	height:800px;
	background:url(../images/bg1.png);
}
.article{
	/*width: 1190.4px;*/
	width:62%; 
	margin:0 auto;
	color:#fff;
}
.dark{color:#444444;}
.first_line{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	font-weight: bold;
}
.logo{
	font-size: 33.5px;
}
.nav{
width:440px;
display:flex;
justify-content: flex-end;
}
.nav li:hover{
color: #e71cb4;
text-decoration: underline;
}
 li{
	display: inline-block;
	font-size: 16px;
	padding-left:7%;
}
.titles{
	
margin: auto;
margin-top: 200px;
text-align: center;
}
h1,h2,h3{
	margin:0;
	font-weight: bold;
}


.small h4{
	font-weight: normal;
	padding-top:20px;
}
.button{
	border:2px solid #fff;
	border-radius: 10px;
	width:25%;
	height: 50px;
	margin-top:75px;
	margin: 75px auto;
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button:hover{
cursor: pointer;
}
#white{
	height: 1720px;
	background:#fff;
	
}
.battles{
	padding-top: 130px;
	text-align: left;
	color:#444444;
	
}
.battles h1{
	
	color: #e71cb4;
}
.battles p{
	padding-top: 95px;
    
}
.course_battle{
	margin-top:130px;
    color:#444444;
}

.lists{
	display: flex;
	justify-content: space-between;
	height: 365px;
	width: 100%;
	margin-bottom: 60px;
}
.list{
	padding:0;
	font-weight: bold;
	width: 50%;
	
}
.list img{
	margin-right:2.5%;
}
.list li{
	font-size: 24px;
  padding:0;
  margin-top: 47px;
  margin-bottom: 20px;	
  text-align: left;
  display: flex;
  align-items: center;
}
.right li{
	
}
 p .medium{
   line-height: 1.8;
   padding-top:60px;
}
.course_battle h4{
   font-size: 30px;
   margin-top: 70px;
}
 
button:hover, input[type="submit"], .nets img{
	cursor: pointer;
}
.pink_button{
	border-radius: 10px;
    background-color:#c60ebe;
    height: 71px;
    width: 40%;	
    border: none;
    margin-top: 55px;
    margin-bottom: 150px;	
}
.pink_button a{
	color:#fff;
	text-decoration: none;
	font-weight: bold;
}
#they{
	height: 1615px;
	background:url(../images/Bg2.png);
}
.they{
 padding-top: 150px;
 margin-top: 0;		
}
.medium{
	margin-top: 60px;	
}
.faces_they{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	margin-top: 35px;	
}
.face{
	width: 28.3%;
	display: inline-block;
	text-align: center;
}
.face img{
	margin-left:2.5%;
	margin-right:2.5%;
}

.face h3{
	margin-top: 10px;
	font-size: 24px;
}
.face p{
	margin:0;
	margin-bottom: 30px;
	font-size: 16px;	
}
.mt80{
	margin-top: 80px;	
}
.pt80{
	padding-top: 80px;
	margin: auto;
	text-align: center;
}
.boxes{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	padding-bottom: 120px;		
}
.box{
	width: 15%;	
	height: 160px;
	background:#4c0241;	
	margin:0 3% 0 3%;
}

.box p{
	text-transform: uppercase;
	font-size: 16px;
}
.box:hover{
	background:transparent;
	border:1px solid #fff;
	cursor: pointer;
}
#sponsorship{
	height: 430px;	
}
.clients{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;	
}
.client{
	width: 25%;
}

#jury{
	height: 778px;
	background:#ffe9eb;
}
.circle{
	width: 30%;
	text-align: center;
}
.circle p, .circle h3{
	color:#444444;
	text-align: center;
	margin-top: 14px;
}

 .circle h3{
 	font-size: 24px;
 }
 #contact{
 	height: 888px;
 }
 .w36{
 	/*width: 690px;*/
 	width: 36%;
 	margin: auto;
 }
 .mt80{
 	margin-top: 80px;
 }
 form{
 	margin: auto;
 	margin-top: 80px;
 	width: 100%
 }
 input{
  width: 43%;
  border: none;
  font-size: 13px;
  line-height: 3.0;
  margin-bottom: 40px;
  border: none;
  border-bottom:6px solid #555;
}


input[value="First Name"], input[value="Email"]{
	margin-right: 4.3%;
	margin-left: 5.7%;
}
input[value="Cusak"]{
border-bottom:2px solid #828282;
}
input[value="Cusak"]:after{
content:"Last Name";
}
input[value="Message"]{
	width:91%;
	margin-left: 5.7%;
	margin-top: 120px;

}
.send{
	margin-right: 44px;
	width: 150px;
	height: 50px;
	border: none;
	background:#555;
	
}
.send a{
	color:white;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
#last{
height: 460px;
background:#eeeeee;
text-align: center;
}
.btn{
	display: flex;
	justify-content: flex-end;

}
.w36 h3{
text-align: center;
font-weight: bold;
padding-top: 70px;
margin-bottom: 45px;
}
.w36 p{
font-weight: bold;
margin-bottom: 25px;
}
input[placeholder="email address"]{
    height: 60px;
	width: 400px;
	line-height: 3;
	border:1px solid #eee;
	border-radius: 10px;
	padding-left: 15px;
	font-weight: bold;
}
input[type="submit"]{
	width: 138px;
	height: 60px;
	border-bottom: none;
	border-radius: 10px;
    background-color:#c60ebe;
    color:#fff;
    font-weight: bold;
}
.nets{
	display: flex;
	justify-content: center;
	margin-top:40px;
}
.nets img{
	margin-right: 2px;
	margin-left: 2px;
}
h1{font-size: 60px;}

.fz60{font-size: 60px;}
.fz30{font-size: 30px;}
.fz36{font-size: 36px;}
.fz32{font-size: 32px;}
.fz24{font-size: 24px;}
.fz22{font-size: 22px;}
.fz16{font-size: 16px;}
.fz14{font-size: 14px;}






