@media (max-width: 1500px){
	.fz60{font-size: 55px;}
.fz30{font-size: 21px;}
.fz36{font-size: 27px;}
.fz32{font-size: 23px;}
.fz24{font-size: 18px;}
.fz22{font-size: 16px;}
.fz16{font-size: 14px;}
.fz14{font-size: 12px;}

.logo{
	font-size: 30px;
}
 li{
	font-size: 12px;
	padding-left:6%;
}
#white{
	height: 1620px;
}
.list img{
	margin-right:2%;
}
.list li{
	font-size: 19px;
  margin-bottom: 20px;	
  margin-top:65px;
}
 p .medium{
   line-height: 1.8;
}
.course_battle h4{
   font-size: 30px;
   
}
.face img{
	margin-left:4.5%;
	margin-right:4.5%;
}
.circles{
margin-left: -110px;
}
.circle {
 	margin-right: 3%;
 	margin-left: 3%;
 }

 .w36 p{
 	font-size: 12px;
 }
 #last{
height: 470px;
}
 
}
@media (max-width: 1400px){
	.fz60{font-size: 50px;}
.fz30{font-size: 19px;}
.fz36{font-size: 25px;}
.fz32{font-size: 21px;}
.fz24{font-size: 15px;}
.fz22{font-size: 14px;}
.fz16{font-size: 14px;}
.fz14{font-size: 10px;}

.logo{
	font-size: 24px;
}
 li{
	font-size: 12px;
	padding-left:6%;
}
#white{
	height: 1620px;
}
.list img{
	margin-right:1.7%;
}
.list li{
	font-size: 16px;
  margin-bottom: 20px;	
  margin-top:65px;
}
 p .medium{
   line-height: 1.8;
}
.course_battle h4{
   font-size: 27px;
   
}
.face img{
	margin-left:2.5%;
	margin-right:2.5%;
}
.face h3{
	margin-top: 10px;
	font-size: 20px;
}
.face p{
	margin:0;
	margin-bottom: 30px;
	font-size: 12px;	
}
.circles{
margin-left: -140px;
}
.circle {
	width: 25%;
 	margin-right: 7px;
 	margin-left: 7px;
 }
 .w36 h3{
 	padding-top: 55px;
 }
 .w36 p{
 	font-size: 12px;
 }
 .nets{
 	margin-top: 0;
 }
}
@media (max-width: 1400px){
	.fz60{font-size: 40px;}
.fz30{font-size: 16px;}
.fz36{font-size: 21px;}
.fz32{font-size: 19px;}
.fz24{font-size: 14px;}
.fz22{font-size: 12px;}
.fz16{font-size: 11px;}
.fz14{font-size: 9px;}

.logo{
	font-size: 21px;
}
 li{
	font-size: 11px;
	padding-left:6%;
}
#white{
	height: 1620px;
}
.list img{
	margin-right:1.1%;
}
.list li{
	font-size: 11px;
  margin-bottom: 20px;	
  margin-top:65px;
}
 p .medium{
   line-height: 1.8;
}
.course_battle h4{
   font-size: 22px;
   
}
.face img{
	margin-left:2.0%;
	margin-right:2.0%;
}
.face h3{
	margin-top: 10px;
	font-size: 17px;
}
.face p{
	margin:0;
	margin-bottom: 30px;
	font-size: 11px;	
}
.circles{
margin-left: -140px;
}
.circle {
	width: 20px;
 	margin-right: 7px;
 	margin-left: 7px;
 }
 .w36 h3{
 	padding-top: 55px;
 }
 .w36 p{
 	font-size: 11px;
 }
 
}