*{
	box-sizing:border-box;
}
body,div{
	font-family: "Segoe UI", sans-serif;
	color:#fff;

}
header{
	height:850px;
	width:100%;
	background:#23232e;
	text-align: center;
	
}
.logo{
	padding-top:70px;

}
.titles{
	margin-top:135px;
}
h1{
	margin:0;
}
.big_title{
	font-size: 80px;
	text-transform: uppercase;
	font-weight: bold;
	
	
}
.small_title{
	font-size: 18px;
	padding-top: 60px;
}
.icon{
 padding-top:100px				
}
.icon:hover{
	cursor: pointer;
}
section{
	background:url(../images/bg1.png);
	
	height:1042px;
	text-align: center;
}
.text{
	font-size: 30px;
	width:60%;
	text-align: center;
	margin:0 auto;
}
.text p {
	padding-top: 50px;
	color:#464b4f;
	font-size: 30px;
	line-height: 1.4;
}
.text .big_title{
	color:#464b4f;
	margin-top:90px;
}
.columns{
 width:70%;
 margin: auto;
 text-align: center;
 padding-top: 90px;
}
.column{
	 display: inline-block;
    width: 32%;
    line-height: 1.5;
    padding-left: 14px;
    padding-bottom: 40px;
	text-align: left;
}
.column h6{
font-size: 18px;
text-transform: uppercase;
color:#464b4f;
margin:0;


}
.column p{
color:#adaeae;	
font-size: 18px;
padding-top:0;

}
@media (max-width: 1300px) {
	.big_title{
		font-size: 60px;
	}
	.small_title{
		font-size: 12px;
	}
	.text{
		font-size: 20px;
	}
	.column h6{
		font-size: 12px;
	}
	.column p{
		font-size: 12px;
	}
}
@media (max-width: 1000px) {
	.big_title{
		font-size: 50px;
	}
	.small_title{
		font-size: 10px;
	}
	.text{
		font-size: 16px;
	}
	.column h6{
		font-size: 9px;
	}
	.column p{
		font-size: 9px;
	}
}
@media (max-width: 520px) {
	.big_title{
		font-size: 30px;
	}
	.small_title{
		font-size: 8px;
	}
	.text{
		font-size: 11px;
	}
	.column h6{
		font-size: 7px;
	}
	.column p{
		font-size: 7px;
	}
}
