@font-face {
    font-family: gothamBold;
    src: url(../fonts/gothambold/gothambold1.eot),
        url(../fonts/gothambold/gothambold1.ttf),
        url(../fonts/gothambold/gothambold1.woff)
  }
  @font-face {
    font-family: gothamBook;
    src: url(../fonts/GothamBook/GothamBook.eot),
        url(../fonts/GothamBook/GothamBook.ttf),
        url(../fonts/GothamBook/GothamBook.woff)
  }
  $dark: #2c4058;
  $white: #fff;
  $blue: #77c5ff;

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: gothamBold;
}
.header{
    color: $white;
    background-image: url(../images/header-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &__container{
        width: 73.1%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &-titles{
        text-align: center;
    }
}

.first-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;

}
.first-line__logo{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24%;
    height: 40px;
}
.menu{
    width: 59%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin: 0;
    &__li{
        display: block;
        color: #fff;
        text-transform: uppercase;
        list-style: circle;
        &:hover{
            list-style: disc;
            cursor: pointer;
        }
    }
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    &__link{
        width:40px;
        height:40px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        &:hover{
            cursor: pointer;
            transform: scale(1.1, 1.1);
            transition: 0.5s;
        }
    }
}
.links__link > .fab{
    
    line-height: 40px;
}
.slider{
    width: 100%;
}

.header-titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    &__title{
        font-size: 5em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    &__desc{
        font-size: 1.125em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        margin-top: 20px;
    }
}
.header-scroll{
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 50%;
    text-align: center;
    margin-top: 200px;
    color: #fff;
    &:hover{
        cursor: pointer;
        transform: scale(1.1, 1.1);
        transition: 0.5s;
    }
}

.header-scroll > .fa-chevron-down{
    line-height: 40px;
    color: #fff;
    
}

.work{
    color: $dark;
    &__container{
        position: relative;
        width: 73.1%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
.we-do{
    
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__line{
        border-bottom: 1px solid $dark;
        width: 100px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 2.75em;
        margin-top: 40px;
        font-weight: 700;
        color: $dark;
    }
}
.commerce-and-trade-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}
.trade-img{
    width: 52.2%;
    margin-top: 170px;
    &__blue{
    position: absolute;
    top: 270px;
    left: -19%;
    background-image: url(../images/blue.svg);
    height: 470px;
    width: 52%;
    z-index: -1;
    }
    &__grey{
    background-image: url(../images/grey-img.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 470px;
    z-index: 1;
    }
}
.trade-text{
    width: 41.2%;
    color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    &__1{
        font-family: gothamBook;
        text-transform: uppercase;

    }
    &__2{
        font-family: gothamBold;
        font-size: 2.75em;
        text-transform: uppercase;
    }
    &__3{
        font-family: Open-sans;
        font-size: 1.125em;
        line-height: 1.6em;
        margin-top: 23px;
    }
    &__btn{
        width: 40%;
        height: 50px;
        text-transform: uppercase;
        font-family: gothamBook;
        font-size: 0.875em;
        border: 1px solid $dark;
        background: transparent;
        margin-top: 35px;
        &:hover{
            cursor: pointer;
            transform: scale(1.1, 1.1);
            transition: 0.5s;
        }
    }
    &__location{
        font-family: Open-sans;
        font-style: italic;
        font-size: 1.125em;
        font-weight: 700;
        margin-top: 60px;
        margin-bottom: 55px;
    }
}
.trade-img__grey--house{
    background-image: url(../images/house.png);
}
.trade-img__blue--purple{
    background-image: url(../images/purple.svg);
    top: 1050px;
    left: 67%;
}
.news{
    background-image: url(../images/news.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 210px;
    width: 100%;
    &__container{
        
        width: 73.1%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
.latest-news{
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__line{
        border-bottom: 1px solid $white;
        width: 100px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 2.75em;
        margin-top: 40px;
        font-weight: 700;
        color: $white;
    }
}
// .test-slide{
//     margin: 0 auto;
//     width: 370px !important;
//     border: 1px solid black;
//     height: 100%;
// }
.news-slider{
    
    width: 95%;
    color: $dark;
    margin: 0 -10px;
    margin-top: 40px;
    &__slide{
        
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        margin-top: 40px;
        margin: 0 10px;


    }
}
.header .slick-dots{
    list-style: none;
    

}
.slick-dots li{
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
    button{
        display: none;

    }

}
.slick-dots li.slick-active{
    background-color: #fff
    ;
}


.slide-img{
    
    width: 100%;
    height: 240px;
    &--1{
        background-image: url(../images/slide-img1.png);
    }
    &--2{
        background-image: url(../images/slide-img2.png);
    }
    &--3{
        background-image: url(../images/slide-img3.png);
    }
}
.slide-text{
    color: $dark;
    width: 86%;
    margin: auto;
    &__title{
        font-size: 1.375em;
        line-height: 1.54em;
        text-transform: uppercase;
        font-family: gothamBold;
        margin-top: 30px;
    }
    &__desc{
        font-size: 1.125em;
        font-family: Open-sans;
        line-height: 1.6em;
        margin-top: 20px;
    }
}
.slide-author{
    width: 86%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    &__photo{
        background-image: url(../images/author1.png);
        height: 60px;
        width: 60px;
        margin-right: 15px;
        &--2{
            background-image: url(../images/author2.png);
        }
        &--3{
            background-image: url(../images/author3.png);
        }
    }
    &__name-and-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__name{
        font-family: gothamBook;
        text-transform: uppercase;
        font-size: 1.125em;
    }
    &__date{
        font-family: gothamBook;
        font-size: 1.125em;
        color: $blue;
        font-size: 0.875em;
        margin-top: 12px;
    }
}
.slick-prev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
    background-image: url(../images/arrow-left.png);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}
.slick-next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    top: 50%;
    right: -45px;
    transform: translateY(-50%);
    background-image: url(../images/arrow-right.png);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}
.slick-arrow{
    border: 1px solid #ffff;
    height: 40px;
    width: 40px;
}

.slick-arrow:before{
    display: none;
}

.gallery-box{
    padding-bottom: 140px;
    &__container{
        width: 73.1%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
.gallery{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__line{
        border-bottom: 1px solid $dark;
        width: 100px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 2.75em;
        margin-top: 40px;
        font-weight: 700;
        color: $dark;
    }
    &__btn{
        width: 17%;
        height: 50px;
        text-transform: uppercase;
        font-family: gothamBook;
        font-size: 0.875em;
        border: 1px solid $dark;
        background: transparent;
        margin-top: 60px;
        &:hover{
            cursor: pointer;
            transform: scale(1.1, 1.1);
            transition: 0.5s;
        }
    }
}
.gallery-grid{
    width: 100%;
    display: grid;
    grid-template-rows: 214px 214px;
    grid-template-columns: 24.5% 24,5% 24.5% 24.5%;
    grid-template-areas: "a a b c"
                     "a a d e";
    grid-gap: 10px;
    margin-top: 90px;
}
.gallery-grid__item{
    background-repeat: no-repeat;
    background-size: cover;
    &:hover{
        cursor: pointer;
        transform: scale(1.1, 1.1);
        transition: 0.5s;
    }
    &--1{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: a;
        background-image: url(../images/web-img.png);
    }
    &--2{
        grid-area: b;
        background-image: url(../images/grid-img1.png);
    }
    &--3{
        grid-area: c;
        background-image: url(../images/grid-img2.png);
    }
    &--4{
        grid-area: d;
        background-image: url(../images/grid-img3.png);
    }
    &--5{
        grid-area: e;
        background-image: url(../images/grid-img4.png);
    }
}
.map{
    position: relative;
}
.map-box{
    height: 700px;
    
}
.touch-wrapper{
    position: absolute;
    left: 25%;
    right:25%;
    // margin-left: -34%;
    top: 60%;
    z-index: 99;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;
    height: 600px;
    // width: 770px;
}
.touch-box{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__line{
        border-bottom: 1px solid $dark;
        width: 100px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 2.75em;
        margin-top: 40px;
        font-weight: 700;
        color: $dark;
    }
    &__contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 245px;
    }
}
.touch-contacts{
    width: 41.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__contact{
        font-size: 1.125em;
        color: $dark;
        font-family: gothamBook;
        margin: 0;
        margin-top: 45px;
    }
}
.touch-contacts__contact > .fas, .far{
    width: 20px;
    height: 20px;
    color:#7e5aff;
    line-height: 20px;
}

.touch-inputs{
    color: $dark;
    width: 39%;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__name{
        font-size: 1.125em;
        font-family: gothamBook;
    }
    &__line{
        border-bottom: 1px solid $dark;
        width: 100%;
        margin-top: 25px;
    }
    &__email{
        border: none;
        border-bottom: 2px solid #c9ccd0;
        margin-top: 40px;
        width: 100%;
        font-family: gothamBook;
        font-size: 1.125em;
        height: 50px;
        outline: none;
    }
    &__btns{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__btn{
        width: 44%;
        height: 50px;
        text-transform: uppercase;
        font-family: gothamBook;
        font-size: 0.875em;
        border: 1px solid $dark;
        background: transparent;
        margin-top: 60px;
        &:hover{
            cursor: pointer;
            transform: scale(1.1, 1.1);
            transition: 0.5s;
        }
    }
}
.footer{
    height: 550px;
    width: 100%;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__container{
        
        width: 49%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}
.logo-rights{
    font-size: 0.875em;
    font-family: gothamBook;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin-top: 55px;
    &__logo{
        background-image: url(../images/logo-footer.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 70px;
        width: 34%;
    }
}
.footer-links{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    
}
.footer-links > .links__link:hover{
   
        cursor: pointer;
        transform: scale(1.1, 1.1);
        transition: 0.5s;
}
.vertical-dots
{
    right:10px;
    list-style: none;
    display: block;
    position: absolute;
    top: 35%;
    margin-top: -10px;
    text-align: right;
}
.vertical-dots li
{
    position: relative;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 50px;
    cursor: pointer;
}
.vertical-dots li button
{
    // 
    display: none;
}
.vertical-dots li.slick-active{
    background-color: #fff
    ;
}

.slick-dots li{
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
    
    button{
        display: none;

    }

}
.slick-dots li.slick-active{
    background-color: #fff
    ;
}

