.container{
	margin:0 auto;
	text-align: center;
}
h1{
	font-family: 'Poppins', sans-serif;
	color:#94ceb9;
}
.links{
	margin:0 auto;
	width:75%;
}
button{
	width:20%;
	height:40px;
	background-color:#94ceb9;
	border:1px solid white;
	margin-bottom:5px;
	border-radius:5px;
}
a{
	text-decoration: none;
	border: none;
	color:white;
	font-family: 'Poppins', sans-serif;
	display: block;
}
